## Import library

In [22]:
import numpy as np 
import pandas as pd 
import datetime as dt 
import copy as cp
import datetime 
#coding=utf-8

## Build a library

In [23]:
transportCnt = dict()

In [24]:
year = ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']
month = ['01','02','03','04','05','06','07','08','09','10','11','12']

In [25]:
for i in year:
    for j in month:
        if i == '2022' and j == '04':
            break
        dt_name = '+OÑ_¦¦¦BÑ¦¿t¦+«+¦B¦q¦+¡p_' + i + j+'.csv'
        df = pd.read_csv(dt_name,encoding='big5')
        for k in range(df.shape[0]):
            date = df['營運日'][k]
            transport = df['總運量'][k]
            try : 
                temp = date.split( '/' ) 
                year_ = int( temp[0] ) + 1911
                month_ = int( temp[1] ) 
                day_ = int( temp[2] ) 
                dt = datetime.datetime( year_, month_, day_ )
                transportCnt[dt] = int( ''.join( transport.split( ',' ) ) )
            except : 
                continue

In [26]:
date = []
cnt = []
for key in transportCnt.keys() :
    date.append( key ) 
    cnt.append( transportCnt[key] )

In [27]:
pd.DataFrame( {'date':date, 'Metro':cnt }).to_excel( 'Metro.xlsx' )

In [18]:
dt_name = '+OÑ_¦¦¦BÑ¦¿t¦+«+¦B¦q¦+¡p_201501.csv'
df = pd.read_csv(dt_name,encoding='big5')
df.head()

       營運日 星期        總運量
0  104/1/1  四  1,796,950
1  104/1/2  五  1,830,184
2  104/1/3  六  1,802,037
3  104/1/4  日  1,585,463
4  104/1/5  一  1,915,326