In [1]:
import pandas as pd

In [2]:
df_holiday = pd.read_excel( '歷年連假天數.xlsx' )

In [4]:
df_holiday

,Unnamed: 0,春節,端午,中秋,雙十,二二八,元旦,清明,勞動,Unnamed: 9,春節.1,端午.1,中秋.1,雙十.1,二二八.1,元旦.1,清明.1,勞動.1,除夕
0,2005.0,6.0,3.0,3.0,3.0,3.0,3.0,4.0,2.0,NaN,2/8-2/13,6/10-6/12,9/17-9/19,10/8-10/10,2/26-2/28,12/31-1/2,4/2-4/5,4/30-5/1,2005-02-08 00:00:00
1,2006.0,6.0,1.0,3.0,1.0,1.0,2.0,1.0,3.0,NaN,1/28-2/2,2006-05-31 00:00:00,10/6-10/8,2006-10-10 00:00:00,2006-02-28 00:00:00,12/31-1/1,2006-04-05 00:00:00,4/29-5/1,2006-01-28 00:00:00
2,2007.0,9.0,4.0,4.0,1.0,1.0,3.0,4.0,1.0,NaN,2/17-2/25,6/16-6/19,9/22-9/25,2007-10-10 00:00:00,2007-02-28 00:00:00,12/30-1/1,4/5-4/8,2007-05-01 00:00:00,2007-02-17 00:00:00
3,2008.0,6.0,2.0,2.0,3.0,1.0,1.0,3.0,1.0,NaN,2/6-2/11,6/7-6/8,9/13-9/14,10/10-10/12,2008-02-28 00:00:00,2008-01-01 00:00:00,4/4-4/6,2008-05-01 00:00:00,2008-02-06 00:00:00
4,2009.0,9.0,4.0,2.0,2.0,2.0,4.0,2.0,3.0,NaN,1/24-2/1,5/28-5/31,10/3-10/4,10/10-10/11,2/28-3/1,1/1-1/4,4/4-4/5,5/1-5/3,2009-01-25 00:00:00
5,2010.0,9.0,1.0,1.0,2.0,2.0,3.0,3.0,2.0,NaN,2/13-2/21,2010-06-16 00:00:00,2010-09-22 00:00:00,10/9-10/10,2/27-2/28,1/1-1/3,4/3-4/5,5/1-5/2,2010-02-13 00:00:00
6,2011.0,6.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,NaN,2/2-2/7,6/4-6/6,9/10-9/12,10/8-10/10,2/26-2/28,1/1-1/2,4/2-4/5,4/30-5/1,2011-02-02 00:00:00
7,2012.0,9.0,2.0,2.0,1.0,4.0,2.0,1.0,1.0,NaN,1/21-1/29,6/23-6/24,9/29-9/30,2012-10-10 00:00:00,2/25-2/28,12/31-1/1,2012-04-04 00:00:00,2012-05-01 00:00:00,2012-01-22 00:00:00
8,2013.0,9.0,1.0,4.0,1.0,1.0,4.0,4.0,1.0,NaN,2/9-2/17,2013-06-12 00:00:00,9/19-9/22,2013-10-10 00:00:00,2013-02-28 00:00:00,12/29-1/1,4/4-4/7,2013-05-01 00:00:00,2013-02-09 00:00:00
9,2014.0,6.0,3.0,3.0,3.0,3.0,1.0,3.0,1.0,NaN,1/30-2/4,5/31-6/2,9/6-9/8,10/10-10/12,2/28-3/2,2014-01-01 00:00:00,4/4-4/6,2014-05-01 00:00:00,2014-01-30 00:00:00
10,2015.0,6.0,3.0,3.0,3.0,3.0,4.0,4.0,3.0,NaN,2/18-2/23,6/19-6/21,9/26-9/28,10/9-10/11,2/27-3/1,1/1-1/4,4/3-4/6,5/1-5/3,2015-02-18 00:00:00
11,2016.0,9.0,4.0,4.0,3.0,3.0,3.0,4.0,2.0,NaN,2/6-2/14,6/9-6/12,9/15-9/18,10/9-10/11,2/27-2/29,1/1-1/3,4/2-4/5,4/30-5/1,2016-02-07 00:00:00
12,2017.0,6.0,4.0,1.0,4.0,4.0,3.0,4.0,3.0,NaN,1/27-2/1,5/27-5/30,2017-10-04 00:00:00,10/7-10/10,2/25-2/28,12/31-1/2,4/1-4/4,4/29-5/1,2017-01-27 00:00:00
13,2018.0,6.0,3.0,3.0,1.0,1.0,3.0,5.0,1.0,NaN,2/15-2/20,6/16-6/18,9/22-9/24,2018-10-10 00:00:00,2018-02-28 00:00:00,12/30-1/1,4/4-4/8,2018-05-01 00:00:00,2018-02-15 00:00:00
14,2019.0,9.0,3.0,3.0,4.0,4.0,4.0,4.0,1.0,NaN,2/2-2/10,6/7-6/9,9/13-9/15,10/10-10/13,2/28-3/3,12/29-1/1,4/4-4/7,2019-05-01 00:00:00,2019-02-04 00:00:00
15,2020.0,7.0,4.0,4.0,3.0,3.0,1.0,3.0,3.0,NaN,1/23-1/29,6/25-6/28,10/1-10/4,10/9-10/11,2/28-3/1,2020-01-01 00:00:00,4/2-4/5,5/1-5/3,2020-01-24 00:00:00
16,2021.0,7.0,3.0,4.0,3.0,3.0,3.0,4.0,3.0,NaN,2/10-2/16,6/12-6/14,9/18-9/21,10/09-10/11,2/27-3/1,1/1-1/3,4/2-4/5,4/30-5/2,2021-02-11 00:00:00
17,2022.0,9.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,NaN,1/29-2/6,6/3-6/5,9/9-9/11,10/8-10/10,2/26-2/28,12/31-1/2,4/2-4/5,4/30-5/2,2022-01-31 00:00:00
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/2-2/8